@use 'assets' as *;

.outer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5em;
  @media #{$mq-small} {
    flex-direction: row;
  }
}