@import 'fonts';
@import 'colours';
@import 'media-queries';

.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 5em;
  @media #{$mq-small} {
    flex-direction: row;
  }
}