@import 'colours';
@import 'fonts';
@import 'media-queries';

.heading {
  font-size: $font-48px;
  letter-spacing: .1em;
  font-family: $primary-title;
  font-weight: 800;
  color: $grey-green;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1;
  text-align: center;

  @media #{$mq-medium} {
    font-size: $font-48px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-48px*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $font-48px*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $font-48px*2.5
  }
}

.h3 {
  font-size: $font-21px;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1.5;

  @media #{$mq-medium} {
    font-size: $font-21px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-21px*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $font-21px*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $font-21px*2.5
  }
}

.p {
  font-size: $font-11px;
  letter-spacing: .1em;
  font-family: $subtext;
  color: $grey;
  overflow: visible;
  margin: 0em;
  line-height: 2;

  @media #{$mq-medium} {
    font-size: $font-11px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-11px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-11px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-11px*2.1
  }
}

.button {
  border: .3em solid $grey-green;
  font-family: $primary-title;
  font-size: $font-11px;
  color: white;
  background-color: $grey-green;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.7em 2.6em;
  transition: all .5s; 
  z-index: 1000;

  &:hover {
    border: .3em solid $light-grey;
    background-color: $light-grey;
    color: $grey;
    cursor: pointer;
    
  }

  @media #{$mq-medium} {
    font-size: $font-11px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-11px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-11px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-11px*2.1
  }
}

.input {
  font-family: $subtext;
  font-size: $font-11px;
  padding: .5em .5em .5em 2em;
  border: .25em solid $grey-green;
  margin-bottom: 1em;
  box-sizing: border-box;
  min-width: 14em;
  max-width: 14em;
  min-height: 2.6em;
  max-height: 2.6em;

  @media #{$mq-medium} {
    font-size: $font-11px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-11px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-11px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-11px*2.1
  }

  &:hover {
    border: .16em solid $grey-green;
  }
}

.inputWrapper {
  min-width: 250px;
  min-height: 4.3em;
}