@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Questrial&display=swap');

$primary-title: 'Montserrat', sans-serif;
$subtext: 'Questrial', sans-serif;

$font-5px: 0.3125em;
$font-6px: 0.375em;
$font-7px: 0.4375em;
$font-8px: 0.5em;
$font-9px: 0.5625em;
$font-10px: 0.625em;
$font-11px: 0.6875em;
$font-12px: 0.75em;
$font-13px: 0.8125em;
$font-14px: 0.875em;
$font-15px: 0.9375em;
$font-16px: 1.0em;
$font-17px: 1.0625em;
$font-18px: 1.125em;
$font-19px: 1.1875em;
$font-20px: 1.25em;
$font-21px: 1.3125em;
$font-22px: 1.375em;
$font-23px: 1.4375em;
$font-24px: 1.5em;
$font-25px: 1.5625em;
$font-26px: 1.625em;
$font-27px: 1.6875em;
$font-28px: 1.75em;
$font-29px: 1.8125em;
$font-30px: 1.875em;
$font-31px: 1.9375em;
$font-32px: 2.0em;
$font-33px: 2.0625em;
$font-34px: 2.125em;
$font-35px: 2.1875em;
$font-36px: 2.25em;
$font-37px: 2.3125em;
$font-38px: 2.375em;
$font-39px: 2.4375em;
$font-40px: 2.5em;
$font-41px: 2.5625em;
$font-42px: 2.625em;
$font-43px: 2.6875em;
$font-44px: 2.75em;
$font-45px: 2.8125em;
$font-46px: 2.875em;
$font-47px: 2.9375em;
$font-48px: 3em;
