@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Questrial&display=swap');

$primary-title: 'Montserrat', sans-serif;
$subtext: 'Questrial', sans-serif;

$font-29px: 1.81em;
$font-10px: 0.6em;
$font-11px: 0.69em;
$font-13px: 0.81em;
$font-14px: 0.87em;
$font-15px: 0.94em;
$font-22px: 1.38em;
$font-48px: 3em;