@import 'fonts';
@import 'media-queries';
@import 'colours';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  @media #{$mq-small} {
    margin: 5% 10%;
  }
}

.image {
  width: 65vw;
  margin: 1em auto;
  &:nth-child(3n), &:nth-child(3n-1) {
    display: none;
  }
  @media #{$mq-small} {
    margin: 1em;
    width: 206px;
    height: 206px;
    &:nth-child(3n), &:nth-child(3n-1) {
      display: block;
    }
  }
}

.title {
  font-size: $font-48px;
  letter-spacing: .1em;
  font-family: $primary-title;
  font-weight: 800;
  color: $grey-green;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1;
  text-align: center;

  @media #{$mq-medium} {
    font-size: $font-48px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-48px*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $font-48px*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $font-48px*2.5
  }
}

.button {
  border: .3em solid $grey;
  font-weight: 700;
  font-family: $primary-title;
  font-size: $font-11px;
  color: $grey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.7em 1.5em;
  transition: all .5s; 

  &:hover {
    border: .3em solid $olive;
    background-color: $olive;
    color: white;
    cursor: pointer;
    
  }
}