@import 'fonts';
@import 'media-queries';
@import 'colours';

$base-font-size-xlarge: 2.9em;
$base-font-size-small: 1em;

.container {
  margin: 5% 10%;
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'center';
}

.title {
  font-size: $base-font-size-xlarge;
  letter-spacing: .1em;
  font-family: $primary-title;
  font-weight: 800;
  color: $grey-green;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1;
  text-align: center;

  @media #{$mq-medium} {
    font-size: $base-font-size-xlarge*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xlarge*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xlarge*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xlarge*2.5
  }
}

.button {
  border: .3em solid $grey;
  font-weight: 700;
  font-family: $primary-title;
  font-size: $base-font-size-small;
  color: $grey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.7em 1.5em;
  transition: all .5s; 

  &:hover {
    border: .3em solid $olive;
    background-color: $olive;
    color: white;
    cursor: pointer;
    
  }
}