@import 'colours';
@import 'fonts';
@import 'media-queries';

$base-font-size-large: 2em;
$base-font-size-small: 0.8em;

.heading {
  font-size: $base-font-size-large;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 0em;
  line-height: 1.2em;
  margin-top: 25%;

  @media #{$mq-medium} {
    font-size: $base-font-size-large*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-large*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-large*3.2
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-large*2.1.5
  }
}

.subtext {
  font-size: $base-font-size-small;
  font-family: $subtext;
  letter-spacing: .1em;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em;

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-small*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-small*3.2
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-small*2.1.5
  }
}

.quoteBox {
  overflow: visible;
}

.textContainer {
  margin-left: 53%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
}