@import 'colours';
@import 'fonts';
@import 'media-queries';


.heading {
  font-size: $font-32px;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 0em;
  line-height: 1.2em;
  margin-top: 25%;

  @media #{$mq-medium} {
    font-size: $font-32px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-32px*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $font-32px*3.2
  }

  @media #{$mq-xxlarge} {
    font-size: $font-32px*2.1.5
  }
}

.subtext {
  font-size: $font-11px;
  font-family: $subtext;
  letter-spacing: .1em;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em;

  @media #{$mq-medium} {
    font-size: $font-11px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-11px*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $font-11px*3.2
  }

  @media #{$mq-xxlarge} {
    font-size: $font-11px*2.1.5
  }
}

.quoteBox {
  overflow: visible;
}

.textContainer {
  margin-left: 53%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
}