@use 'breakpoints';

// Media Queries
$mq-xxxsmall: "(min-width: #{breakpoints.$bp-xxxsmall})";
$mq-xxsmall: "(min-width: #{breakpoints.$bp-xxsmall})";
$mq-xsmall: "(min-width: #{breakpoints.$bp-xsmall})";
$mq-small: "(min-width: #{breakpoints.$bp-small})";
$mq-medium: "(min-width: #{breakpoints.$bp-medium})";
$mq-large: "(min-width: #{breakpoints.$bp-large})";
$mq-xlarge: "(min-width: #{breakpoints.$bp-xlarge})";
$mq-xxlarge: "(min-width: #{breakpoints.$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";