@import 'colours';
@import 'fonts';
@import 'media-queries';

$base-font-size-xlarge: 2.4em;
$base-font-size-large: 1.1em;
$base-font-size-medium: 1em;
$base-font-size-small: 0.95em;
$base-font-size-xsmall: 0.9em;

.MainContainer_title {
  font-size: $base-font-size-xlarge;
  letter-spacing: .1em;
  font-family: $primary-title;
  font-weight: 800;
  color: $grey-green;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1;
  text-align: center;

  @media #{$mq-medium} {
    font-size: $base-font-size-xlarge*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xlarge*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xlarge*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xlarge*2.5
  }
}

.description {
  font-size: $base-font-size-small;
  letter-spacing: .1em;
  font-family: $subtext;
  color: $grey;
  overflow: visible;
  margin: 2em 0em;
  line-height: 2;
  text-align: left;

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-small*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-small*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-small*2.5
  }
}

.h3 {
  font-size: $base-font-size-xlarge;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1.5;

  @media #{$mq-medium} {
    font-size: $base-font-size-xlarge*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xlarge*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xlarge*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xlarge*2.5
  }
}

.p_belowTitle {
  font-size: $base-font-size-xsmall;
  letter-spacing: .1em;
  font-family: $subtext;
  color: $grey;
  overflow: visible;
  margin: 2em 0em;
  line-height: 2;
  text-align: left;

  @media #{$mq-medium} {
    font-size: $base-font-size-xsmall*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xsmall*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xsmall*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xsmall*2.5
  }
}

.SubContainer__personName {
  font-size: $base-font-size-xsmall;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey-green;
  overflow: visible;
  margin: 2em 0em;
  line-height: 2;
  text-align: right;
  text-transform: uppercase;

  @media #{$mq-medium} {
    font-size: $base-font-size-xsmall*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xsmall*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xsmall*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xsmall*2.5
  }
}


.SubContainer__button {
  border: .3em solid $grey;
  font-family: $primary-title;
  font-size: $base-font-size-small;
  color: $grey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.7em .2em;
  transition: all .5s; 
  margin-top: 15%;
  margin-left: -30%;
  width: 50%;
  z-index: 1000;

  &:hover {
    border: .3em solid $olive;
    background-color: $olive;
    color: white;
    cursor: pointer;
    
  }

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-small*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-small*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-small*2.5
  }
}

.q {
  font-size: $base-font-size-xsmall;
  letter-spacing: .1em;
  font-family: $subtext;
  color: $grey-green;
  overflow: visible;
  line-height: 1.5;
  text-align: left;
  margin-left: 25%;
  font-style: italic;

  @media #{$mq-medium} {
    font-size: $base-font-size-xsmall*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xsmall*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xsmall*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xsmall*2.5
  }
}

.MainContainer {
  text-align: center;
  padding: 5% 15%;
}

.SubContainer__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.SubContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}