@import 'colours';
@import 'fonts';
@import 'media-queries';

$base-font-size-xlarge: 2.4em;
$base-font-size-large: 1.3em;
$base-font-size-medium: 1em;
$base-font-size-small: 0.65em;
$primary-title: 'Montserrat', sans-serif;
$subtext: 'Questrial', sans-serif;

.h1 {
  font-size: $base-font-size-xlarge;
  letter-spacing: .1em;
  font-family: $primary-title;
  font-weight: 800;
  color: $grey-green;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1;
  text-align: center;

  @media #{$mq-medium} {
    font-size: $base-font-size-xlarge*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-xlarge*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-xlarge*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-xlarge*2.5
  }
}

.h3 {
  font-size: $base-font-size-large;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1.5;

  @media #{$mq-medium} {
    font-size: $base-font-size-large*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-large*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-large*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-large*2.5
  }
}

.p {
  font-size: $base-font-size-small;
  letter-spacing: .1em;
  font-family: $subtext;
  color: $grey;
  overflow: visible;
  margin: 2em 0em;
  line-height: 2;
  text-align: center;

  @media #{$mq-medium} {
    font-size: $base-font-size-small*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-small*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-small*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-small*2.5
  }
}

.a {
  font-size: $base-font-size-medium;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 1;

  @media #{$mq-medium} {
    font-size: $base-font-size-medium*1.2
  }
  @media #{$mq-large} {
    font-size: $base-font-size-medium*1.5
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size-medium*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size-medium*2.5
  }
}

.mainContainer__topCorner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  padding-right: 10%;
  padding-left: 40%;
}

.mainContainer__bottomCorner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10%;
  padding-left: 40%;
}

.mainContainer__video {
  padding-top: 20% 
}

.mainContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}