
@use 'assets' as *;


.SubContainer__personName {
  font-size: $font-9px;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey-green;
  overflow: visible;
  margin: 2em 0em;
  line-height: 2;
  text-align: right;
  text-transform: uppercase;

  @media #{$mq-medium} {
    font-size: $font-9px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-9px*1.6
  }

  @media #{$mq-xlarge} {
    font-size: $font-9px*1.9
  }

  @media #{$mq-xxlarge} {
    font-size: $font-9px*2.5
  }
}


.SubContainer__button {
  border: .25em solid $grey;
  font-family: $primary-title;
  font-size: $font-10px;
  color: $grey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all .5s; 
  width: 45%;
  margin: 0 auto;
  padding: 0.7em 1em;
  

  @media #{$mq-small} {
    
    margin-top: 20%;
    margin-left: -30%;
    width: 50%;
    z-index: 1000;
  }

  &:hover {
    border: .25em solid $olive;
    background-color: $olive;
    color: white;
    cursor: pointer;
    
  }

  @media #{$mq-medium} {
    font-size: $font-10px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-10px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-10px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-10px*2.1
  }
}

.q {
  font-size: $font-11px;
  letter-spacing: .1em;
  font-family: $subtext;
  color: $grey-green;
  overflow: visible;
  line-height: 1.5;
  text-align: left;
  margin-left: 25%;
  font-style: italic;

  @media #{$mq-medium} {
    font-size: $font-11px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-11px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-11px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-11px*2.1
  }
}

.MainContainer {
  text-align: center;
  padding: 5%;
  @media #{$mq-small} {
    padding: 5% 15%;
  }
}

.SubContainer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.SubContainer {
  display: grid;
  grid-template-columns: 100%;
  @media #{$mq-small} {
    grid-template-columns: 50% 50%;
  }
}