@use 'assets' as *;

.outer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em 0;
  @media #{$mq-small} {
    margin: 5em 0;
  }
}

.inner__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 20%;
  width: 100%;
  @media #{$mq-small} {
    margin: 0em 3em;
    min-width: 20%;
    width: 40%;
  }
}

.inner__right {
  width: 100%;
  @media #{$mq-small} {
    width: 40%
  }
}

.name {
  font-size: $font-20px;
  color: $grey;
  font-family: $subtext;
  margin: 1em 0em;
}

.price {
  font-size: $font-16px;
  color: $grey;
  font-family: $subtext;
}

.subheading {
  font-size: $font-16px;
  color: $faded-grey;
  font-family: $subtext;
}

.description {
  font-size: $font-16px;
  color: $grey;
  font-family: $subtext;
  line-height: 1.6em;
  margin-top: 2em;
  text-align: justify;
}

.button {
  border: .3em solid $grey-green;
  font-family: $primary-title;
  font-size: $font-10px;
  color: white;
  background-color: $grey-green;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em 5em;
  transition: all .5s; 
  width: 90%;
  z-index: 1000;
  margin: 1em 0em;

  &:hover {
    border: .3em solid $light-grey;
    background-color: $light-grey;
    color: $grey;
    cursor: pointer;
    
  }
  @media #{$mq-small} {
    padding: 0.3em 5em;
  }
  @media #{$mq-medium} {
    font-size: $font-10px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-10px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-10px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-10px*2.1
  }
}

.input {
  padding: 1em 1em 1em 2em;
  margin: 0.5em 0em;
}

.a {
  color: inherit;
  text-decoration: none;
}