@use 'assets' as *;

$height : 25em;
$padding-left: 3em;

.navbar__sticky {
  position: fixed; 
  bottom: $height;
  padding-left: $padding-left;
  z-index: 10000;
  display: none;
  @media #{$mq-small} {
    display: block;
  }
  @media #{$mq-medium} {
    height: $height*1.02;
    padding-left: $padding-left*1.2;
  }
  @media #{$mq-large} {
    height: $height*1.04;
    padding-left: $padding-left*1.3;
  }

  @media #{$mq-xlarge} {
    height: $height*1.06;
    padding-left: $padding-left*1.4;
  }

  @media #{$mq-xxlarge} {
    height: $height*1.09;
    padding-left: $padding-left*5;
  }
}

.navbar__bottom {
  @extend .navbar__sticky;
  bottom: -7.2em;
}