@import 'fonts';
@import "media-queries";
@import 'colours';

$base-height: 5em;
$base-width: 12em;

$base-font-size: 1em;
$base-font-size-medium: 0.9em;
$base-font-size-small: .7em;

.heading {
  font-size: $font-15px;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 4em;

  @media #{$mq-medium} {
    font-size: $font-15px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-15px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-15px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-15px*2.1
  }
}

.horizontalNav {
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: $font-13px;

  @media #{$mq-medium} {
    font-size: $font-13px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-13px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-13px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-13px*1.9
  }

}

.verticalNav {
  display: flex;  
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: $font-13px;

  @media #{$mq-medium} {
    font-size: $font-13px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-13px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-13px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-13px*1.9
  }

}

.container {
  font-family: $subtext;
  background-color: $box-colour;
  text-align: center;
  height: $base-height;
  width: $base-width;
  min-width: 218px;
  align-self: flex-start;

}

.container {
  @media #{$mq-medium} {
    height: $base-height*1.2;
    width: $base-width*1.2;
  }
  @media #{$mq-large} {
      height: $base-height*1.3;
      width: $base-width*1.3;
  }

  @media #{$mq-xlarge} {
      height: $base-height*1.4;
      width: $base-width*1.4;
  }

  @media #{$mq-xxlarge} {
      height: $base-height*1.6;
      width: $base-width*1.6;
  }

}

@media (max-width: 1244px) {
    .container {
    float: left;
  }
}