@use 'assets' as *;

$base-height: 5em;
$base-width: 12em;

.heading {
  font-size: $font-15px;
  letter-spacing: .1em;
  font-family: $primary-title;
  color: $grey;
  overflow: visible;
  text-transform: uppercase;
  margin: 1em 0em 0em 0em;
  line-height: 4em;

  @media #{$mq-medium} {
    font-size: $font-15px*1.2
  }
  @media #{$mq-large} {
    font-size: $font-15px*1.4
  }

  @media #{$mq-xlarge} {
    font-size: $font-15px*1.6
  }

  @media #{$mq-xxlarge} {
    font-size: $font-15px*2.1
  }
}

.horizontalNav {
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: $font-13px;
  margin: 0;
  
  @media #{$mq-xxxsmall} {
    
  }

  @media #{$mq-xxsmall} {

  }

  @media #{$mq-xsmall} {

  }

  @media #{$mq-medium} {
    font-size: $font-13px*1.2;  
    flex-direction: row;
    width: auto;
    margin: 1.8em 0em;
  }
  @media #{$mq-large} {
    font-size: $font-13px*1.3
  }

  @media #{$mq-xlarge} {
    font-size: $font-13px*1.4
  }

  @media #{$mq-xxlarge} {
    font-size: $font-13px*1.9
  }

}

.horizontalNav__collapsed {
  @extend .horizontalNav;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.verticalNav {
  display: flex;  
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: $subtext;
  color: $grey;
  font-size: $font-14px;

}

.container {
  font-family: $subtext;
  text-align: center;
  height: $base-height;
  width: $base-width;
  min-width: 218px;
  align-self: flex-start;

  @media #{$mq-medium} {
    height: $base-height*1.2;
    width: $base-width*1.2;
  }
  @media #{$mq-large} {
      height: $base-height*1.3;
      width: $base-width*1.3;
  }

  @media #{$mq-xlarge} {
      height: $base-height*1.4;
      width: $base-width*1.4;
  }

  @media #{$mq-xxlarge} {
      height: $base-height*1.6;
      width: $base-width*1.6;
  }

}

.hamburgerMenu {
  width: 100%;
  font-size: $font-40px;
  padding: 0.5em 0;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  @media #{$mq-xxxsmall} {
    font-size: $font-40px;
  }

  @media #{$mq-xxsmall} {
    
  }

  @media #{$mq-xsmall} {
    
  }

  @media #{$mq-medium} {
    font-size: $font-40px*1.1;
    
  }
  @media #{$mq-large} {
    font-size: $font-40px*1.2;
      
  }

  @media #{$mq-xlarge} {
    font-size: $font-40px*1.6;
      
  }

  @media #{$mq-xxlarge} {
    font-size: $font-40px*2;
      
  }
}

.menuButton {
  border: none;
  background: transparent;
  margin: 0em 1em;

  @media #{$mq-xxxsmall} {
    padding: 0;
  }

  @media #{$mq-xxsmall} {
    
  }

  @media #{$mq-xsmall} {
    
  }

  @media #{$mq-medium} {
    display: none;
    
  }
  @media #{$mq-large} {
  
      
  }

  @media #{$mq-xlarge} {
  
      
  }

  @media #{$mq-xxlarge} {
  
      
  }
}